<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>访问页面</title>
</head>
<body>
<center>
    <form action="__URL__/insert_do" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td>账号：</td>
                <td><input type="text" name="u_name"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="u_pwd"></td>
            </tr>
            <tr>
                <td>头像:</td>
                <td><input type="file" name="image"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="注册"></td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>